.container {
    height: 70vh;
}

.box {
    padding: 25px;
    text-align: center;
    color: white;
}

 #box1 {
    background-color: teal;
    width: 50%;
  }

  #box2 {
    background-color: rgb(30, 146, 107);
    float: left;
    height: 100%;
    width: 6%;
  }

  #box3 {
    background-color: rgb(115, 202, 173);
    height: 100%;
    width: 50%;
  }


  #box4 {
    background-color: rgb(21, 109, 80);
    float: none;
    width: 50%;
  }
